name: Add to project
on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/gamagama-dev/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
